<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dog_date">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:requestLegacyExternalStorage="true"
        android:fullBackupContent="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DogDate">
        <activity
        android:name=".MainActivity"
        android:title="@string/bar_Welcome"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".chat.MessageActivity">
        </activity>
        <activity android:name=".Preference_owner"/>
        <activity android:name=".Match.MatchActivity">
        </activity>
        <activity android:name=".Preference"/>
        <activity android:name=".SwipeActivity">
        </activity>
        <activity android:name=".SignUpActivity"/>
        <activity android:name=".LogInActivity"/>
        <activity android:name=".OwnerProfile"
            android:title="@string/bar_OwnerProfile"/>
        <activity android:name=".Login_SignupActivity"
            android:title="@string/bar_Login_Signup"/>
        <activity android:name=".DogProfile"
            android:title="@string/bar_DogProfile"/>
        <activity android:name=".DogProfilePage"/>

    </application>
</manifest>